.page-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}
.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 24px;
}
.toolbar-brand {
  height: 60px;
}
.toolbar-brand img {
  height: 60px;
}
.container-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card {
  max-width: 560px;
  margin: 0 auto;
  padding: 48px 24px;
}
.bg-light {
  background-color: #F2F2F2;
}
.form-signin {
  max-width: 368px;
  margin: 0 auto;
}
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.form-buttons .btn {
  min-width: 180px;
}
