body{
	font-family: 'Roboto','helvetica','arial', sans-serif;
}
.centrado{
	text-align: center;
}
.derecha{
	text-align: right;
}

.tt-pag{
	font-size: 16px;
	font-weight: 100;
}
.sub-tt{
	font-size: 20px;
	font-weight: 200;
	color: #204581;
	border-bottom: 1px solid #204581;
}

h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}

.barra-perfil.usuarioDA{
	background-color: #6C3;
}

.barra-perfil.usuarioJCCO{
	background-color: #099;
}

.barra-perfil.usuarioSAE{
	background-color: #305277;
}

.barra-perfil.administrador{
	background-color: #B61615;
}


.barra-perfil.admin{
	background-color: #a20404;
}
.barra-perfil ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
.barra-perfil li{display: inline;}
.barra-perfil a{
	display: inline-block;
	font-size: 12px;
	font-weight: 100;
	color: #FFF;
	padding: 5px 10px;
}


.container-aiep {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
}



/*Cabecera*/
.navbar{
	border-radius: 0;
	margin-bottom: 0;
    /*/top: 46px;
    left: 55px;*/
}
#menuTop .navbar{
	min-height: 100px;
}
.navbar-brand{
	padding: 0 !important;
	margin: 0 !important;
}

.container, .container-fluid {
        padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0.2mm;
}
.logo{
	width: 450px;
	padding: 0px;
	height: auto;
	background-color: #001c4a;
}
#cqv
.navbar-default{
	font-size: 14px;
	font-weight: 200;
}


 
#menuTop .navbar-default .navbar-nav a:focus, 
#menuTop .navbar-default .navbar-nav a:hover,
#menuTop .navbar-default .navbar-nav>.active>a:focus, 
#menuTop .navbar-default .navbar-nav>.active>a:hover{
	background-color: #000050!important;
	color: #FFF!important;
}

.buscar{
	background-color: transparent;
	border: 0;
	margin-left: 10px;
}
.buscar:focus{
	background-color: #FFF;
}
.content-nav-menu{
	font-family: 'Roboto', sans-serif;
	box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.3);
}

.menu-n2-cont{
	border-top: 4px solid #ececeb;
	background-color: #ececeb;
	height: 46px;
	margin-bottom: 15px;
}
.menu-n2{
	list-style: none;
	float: right;
	height: 32px;
	margin: 0;	
}
.menu-n2 li{
	margin: 0;
	padding: 0;
	display: inline;
}
.menu-n2 a{
	color: #484848;
	font-size: 12px;
	display: inline-block;
	padding: 0 6px;
	text-decoration: none;
	float: left;
	margin-left: 1px;
	height: 28px;
	line-height: 32px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.menu-n2 a:hover,
.menu-n2 .on{
	background-color: #FFF;
	color: #204581;
}
.menu-n2-cont h1{
	float: left;
	font-weight: 700;
	font-size: 20px;
}

/*Formularios*/
.content-login {
    padding-top: 30px;
    width: 380px;
    margin: auto;
}
.content-login .panel-heading img{
	width: 90px;
	height: auto;
}
fieldset{
	margin-bottom: 20px;
}
legend{
	font-size: 18px;
	color: #d62424;
	margin-bottom: 5px;
	border-bottom: 1px solid #fcc2c2;
	padding-left: 5px;
}

.content-busca-area{
	padding: 10px;
	background-color: #ececeb;
}
.bootstrap-duallistbox-container .btn.moveall,
.bootstrap-duallistbox-container .btn.removeall {
  display: none;
}

.bootstrap-duallistbox-container .btn.move,
.bootstrap-duallistbox-container .btn.remove {
  width: 100%;
}
.content-combos{
	margin-bottom: 10px;
	display: none;
}
.fieldset-box{
	background-color: #f6f8fb;
	border:1px solid #ebf1fa;
}

.form-horizontal label{
	text-align: right;
	padding-right: 0;
	font-size: 14px;
	 padding-top: 6px;
}
.form-horizontal .form-group{
	margin-bottom: 5px;
}

caption{
	color: #204581;
	font-size: 14px;
}
.tabla-form{
	font-size: 12px;
}
.tabla-form th{
	/*text-align: center;*/
	background-color: #ecf0f1;
}
.table>tbody>tr.tr-btns>td{
	position: relative;
	padding-bottom: 40px;
	border-bottom: 1px solid #9d9d9d;
}
.tr-btns td .btn,
.eleccion{
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
}
.td-tot,	
.eleccion{
	display: block;
	font-size: 24px;
	text-align: center;
}
.eleccion{
	color: #099c7e;
}
td.on{
	background-color: #b0f8e9;
}

.tr-total{
	background-color: #f9f9eb;
}
.table .tr-total td{
	background-color: #f9f9eb;
	vertical-align: middle;
}
tbody .fa{
	font-size: 18px;
	margin:0 5px;
}
.table .fa-check-circle{
	color: #099c7e;
}
/*.table .fa-trash-o{
	color: #fb0579;
}*/
.table .aprobar .fa{
	color: #eea236;
}

.dato-estatico {
	padding-top: 6px;
	margin-bottom: 0;
	font-size: 14px;
}
small.help-block{
	font-size: 12px;
}

.pie-form {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #7d92b5;
	background-color: #f6f8fb;
	clear: both;
}
.tabla-lg{
	font-size: 16px;
}

.alert-icon i{
	font-size: 36px;
	float: left;
	margin-right: 10px;
}
table .chk{
	cursor: pointer;
}
.tabla-select{
	padding-bottom: 50px;
}
.content-fijo{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: #ecf0f1;
}
.content-fijo select{
	display: inline-block;
	width: 180px;
}

#notaTotal{
	padding: 10px;
	border:1px solid #099c7e;
	font-size: 18px;
	color: #888;
}
#notaTotal strong{
	color: #099c7e;
	font-size: 24px;
}

/*filtros*/
.content-filtro {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ececeb;
}
.input-group.filtra-docentes input{
	width: 50%;
}
.btn-filtra{
	margin-top: 20px;
	width: 200px;
}

/*Footer*/
.pie{
	background-color: #001c4a;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	padding: 10px;
}

/*Selec*/
.seleccionable{
	background-color: #DDD;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.seleccionable select{
	cursor: pointer;
	margin-top: 5px;
	clear: both;
	float: none;
}
.head-combo-b{
	text-align: right;
}
.btn-guarda-seleccionable{
	margin-top: 20px;
}
#sedeSupervisor{
	display: inline-block;
	max-width: 200px;
}

#combosSupervisor{
	margin-bottom: 20px;
}

/*ipad+ */
@media (min-width: 768px){
	.tt-pag{
		font-size: 24px;
	}
}
@media (min-width: 992px){	
}
@media (min-width: 1200px){
}


