﻿

                
.Menu {
    width: auto;
    position: absolute;
    display: block;
    padding: 2.2px;
    font-weight: bold;
    margin: 0px auto auto 10px;
    border-radius: 5px;
    /*color: white;*/
    font-size: 14px;
    background: rgba(230,230,230,1); /* Old Browsers */
    background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(7%, rgba(230,230,230,1)), color-stop(70%, rgba(128,128,128,1)), color-stop(100%, rgba(128,128,128,1))); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* IE 10+ */
    background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#808080', GradientType=1 ); /* IE6-9 */
}



    .Menu ul {
        z-index: 100;
        margin: 1px 2px;
        background: rgba(230,230,230,1); /* Old Browsers */
        background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(7%, rgba(230,230,230,1)), color-stop(70%, rgba(128,128,128,1)), color-stop(100%, rgba(128,128,128,1))); /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* IE 10+ */
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 7%, rgba(128,128,128,1) 70%, rgba(128,128,128,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#808080', GradientType=1 ); /* IE6-9 */
    }

        .Menu ul img {
            width: 15px;
            height: 15px;
            margin-left: 0px;
            top: -1px;
            padding: 0;
            margin-right: 5px;
        }

    .Menu a {
        z-index: 100;
        color: black;
        position: relative;
        display: block;
        font-size: 11px;
        line-height: 20px;
        padding: 6px 8px;
        margin: 1px 2px;
        vertical-align: middle;
        border-right: 5px;
        white-space: nowrap;
        
    }

        .Menu a:hover {
            color: white;
            background-color: rgba(128,128,128,1);
        }






/*.Menu {
    width: auto;
    position: absolute;
    display: block;
    padding: 2.2px;
    font-weight: bold;
    margin: 0px auto auto 10px;
    
    font-size: 14px;
    background: gray;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


    .Menu ul {
        z-index: 100;
        margin: 1px 2px;
        background: gray;
    }

        .Menu ul img {
            width: 15px;
            height: 15px;
            margin-left: 0px;
            top: -1px;
            padding: 0;
            margin-right: 5px;
        }

    .Menu a {
        z-index: 100;
        color: black;
        position: relative;
        display: block;
        font-size: 11px;
        line-height: 20px;
        padding: 6px 8px;
        margin: 1px 2px;
        vertical-align: middle;
        border-right: 5px;
        white-space: nowrap;
        
    }

        .Menu a:hover {
            color: white;
        }*/
